<div class="col s12">
  <img src="../images/readNews.jpg" alt="readNews" class="img">
</div>

<div class="container">
  <div class="row head">

    <div class="col s7 left">
      <h1>SCRAPE NEW YORK TIMES</h1>
    </div>

    <div class="col s5 right">

      <a href="/scrape">
                  <button id="buttons" id="scrape" type="button" class="btn blue waves-effect waves-dark btn-success">Scrape Articles</button>
                </a>

      <a href="/delete">
                  <button id="buttons" type="button" class="btn waves-effect waves-dark blue">Delete Articles</button></a>

      <a href="/api">
                  <button id="buttons" type="button" class="btn blue waves-effect waves-dark btn-info">API Details</button>
                </a>

    </div>

  </div>
  <a href="#introduction" class="arrow"><i class="large material-icons">keyboard_arrow_down</i></a>
</div>

<div class="space"></div>

<div id="introduction" class="section scrollspy">

  <div class="container" id="overlay">
    <div class="row">
      <div class="col s12 articles">

        {{#each doc}}

          <div class="row">
            <div class="col s3">
              <img src="{{this.image}}" id="newsPic">
            </div>
            <div class="col s9">
              <p id="article-content"><a href="{{this.link}}"><h5>{{this.title}}</h5></a></p>

              <h6 id="article-content">{{this.article}}</h6> <br/>

              <li>
                <a class="modal-trigger" href="#modal1"><i class="material-icons">comment</i>Add Comment</a>
                <a class="modal-trigger" href="#modal2"><i class ="material-icons">thumbs_up_down</i>View Comments</a>
                <br>
                <div class="divider"></div>

                <div id="modal1" class="modal">
                  <div class="modal-content">

                    <form id="form-add-{{_id}}" action="add/comment/{{_id}}" method="post">

                      <!-- Author Name Input -->
                      <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s8">
                          <input id="author_name" name="name" type="text" class="validate">
                          <label for="author_name">Your Name:</label>
                        </div>
                      </div>

                      <!-- Comment Input -->
                      <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s8">
                          <textarea id="comment_box" name="comment" class="materialize-textarea"></textarea>
                          <label for="comment_box">Your Comment:</label>
                        </div>
                      </div>

                      <!-- Submit Button -->
                      <div class="row">
                        <div class="input-field col s2"></div>
                        <div class="input-field col s8">
                          <center><input class="btn blue add-comment-button" data-id="{{_id}}" type="submit" value="Submit"></center>
                        </div>
                      </div>

                    </form>

                  </div>
              </li>


              <!-- View Comments Drop Down -->
              <li>

                <div id="modal2" class="modal">
                  <div class="modal-content">

                    {{!-- Check if the article has comments --}}
                    {{#if comments}}

                      {{!-- Article has comments so iterate over them  --}}
                      <ul class="collection">
                        {{#each comments}}

                          <li class="collection-item">

                            {{!-- Add Author Name --}}
                            <b>{{author}}</b>{{!-- Add a Delete Button --}}
                            <span class="badge">
                       <form id="form-delete-{{_id}}" action="remove/comment/{{_id}}" method="post">
                         <input class="btn-small delete-comment-button" data-id="{{_id}}" type="submit" value="Delete" style="color: white; background-color: red; border-color: red;">
                       </form>
                     </span>

                            <br>{{!-- Add the Content of the Comment --}}
                            {{content}}

                          </li>
                        {{/each}}
                      </ul>

                      {{!-- No comments, so display message --}}
                    {{else}}
                      <p>Post Your First Comment !</p>
                    {{/if}}


                  </div>
              </li>

              </ul>
              </div>
              <div id="notes">{{this.note}}</div>

              </div>
        {{/each}}
        </div>

        </div>
      </div>
    </div>
    <a href="#introduction" class="arrow"><i class="large material-icons">keyboard_arrow_up</i></a>
  </div>
</div>
